.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.logo{
  width: 340px;
  height: 700px;
  object-fit: cover;
}

.film-container{
 
  width: 340px;

}

.filmspecs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filmname{
  margin: 0px;
}

.summary{
  margin-top: 0px;
}

.film-form{
  display: flex;  
  flex-direction: column;
  margin: 16px;
  gap: 10px;
}